/* Colors */

span.cm-attribute	{ color: #E06C75; }
span.cm-builtin     { color: #6CAFF2; }
span.cm-def			{ color: #6CAFF2; }
span.cm-header      { color: #ABB2BF; }
span.cm-qualifier	{ color: #CD9A61; }
span.cm-variable	{ color: #ABB2BF; }

span.cm-atom		{ color: #64B6C3; }
span.cm-link		{ color: #98C379; }
span.cm-string-2    { color: #98C379; }

span.cm-meta		{ color: #ABB2BF; }
span.cm-property	{ color: #ABB2BF; }
span.cm-tag			{ color: #6CAFF2; }

span.cm-variable-2	{ color: #C678DD; }
span.cm-variable-3	{ color: #64B6C3; }

span.cm-comment		{ color: #667689; }
span.cm-error		{ color: red; }
span.cm-keyword		{ color: #D86C74; }
span.cm-operator	{ color: #ABB2BF; }

span.cm-number		{ color: #D19A66; }

span.cm-bracket		{ color: #3b6fff; }
span.cm-string		{ color: #98C379; }
    
/* Editor */

.CodeMirror {
    line-height: 1.4;
}

.CodeMirror-scroll {
	background: #282C34;
	color: #ABB2BF;
}

.CodeMirror-cursor {
	border-left: 1px solid #528BFF !important;
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-bottom: 1px solid #528BFF !important;
    border-left: none !important;
}

.CodeMirror-gutters {
	background: #282C34;
	border-right: 1px solid #282C34;
}

.CodeMirror-linenumber {
	color: #4B5363;
}

.CodeMirror-selected {
	background: #3E4451 !important;
}

/* Matching */

.CodeMirror-matchingbracket {
    background: #38404C !important;
	border-bottom: 1px solid #548DFE !important;
    color: #ABB2BF !important;
}

.CodeMirror-matchingtag {
    background: #38404C !important;
}

/* Active Line */

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-nonmatchingbracket {
	color: #ff0076 !important;
}

.CodeMirror-activeline-background {
	background: #2C323B !important;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
	color: #ABB2BF;
    background-color: #2C313A;
}

.CodeMirror-focused .CodeMirror-activeline .inline-widget .CodeMirror-gutter-elt {
	color: #ABB2BF;
}

/* Non-editor styling */

#image-holder,
#not-editor {
    background-color: #282C34;
}

#image-holder {
    color: #282C34;
}
